---
import Button from "@components/button.astro";
import Projects from "@components/home/projects.astro";
import Worked from "@components/home/worked.astro";
import Separator from "@components/home/separator.astro";
import Writings from "@components/home/writings.astro";
import Layout from "@layouts/main.astro";
import WorkedCol from "@collections/cs/worked.json";
import ProjectsCol from "@collections/cs/projects.json";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout language={lang} title="Navrátil Pavel">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Dobrý den, jmenuji se Pavel.
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          Jsem zkušený dobrodruh,
          <br class="hidden lg:block"/>
          a plnohodnotný webový vývojář se zájmem o Salesforce.
        </p>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          Formovaný přírodou, cestováním, dobrodružstvím a kolem.
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          Můžu vám pomoci s:
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>Salesforce vývojem</li>
          <li>Salesforce architektůrou</li>
          <li>Webový design</li>
          <li>a více...</li>
        </ul>
        <Button text={t('nav.what')} link={translatePath('/what/')} />
      </div>
      <div
        class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
      >
        <div class="relative z-50 w-full">
          <div class="relative z-30 px-10">
            <img
              src="/assets/images/photo.png"
              loading="eager"
              decoding="auto"
              class="relative z-30 w-full aspect-[1024/1024] md:max-w-md mx-auto dark:-translate-y-0.5"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <Separator text={t('projects.separator')} />
  <Projects projects={ProjectsCol}/>
  <Separator text={t('worked.separator')} />
  <Worked worked={WorkedCol}/>
  <Separator text={t('writings.separator')} />
  <Writings />
</Layout>
