.flex {
  flex-grow: 1;
}

.item {
  display: flex;
  border-radius: 6px;
  border: 1px solid var(--ifm-color-emphasis-300);
  padding: var(--ifm-global-spacing);
  margin: 24px 0;
  align-items: center;
}

.item:hover {
  background-color: var(--ifm-color-emphasis-300);
  transition: 0.7s;
}

.item p {
  padding-right: 0.8em;
  color: var(--ifm-color-emphasis-800);
  margin: 0;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items a:link { 
  text-decoration: none; 
} 

.items a:visited { 
  text-decoration: none; 
} 

.itemsa:hover { 
  text-decoration: none; 
} 

.itemsa:active { 
  text-decoration: none; 
}

.itemsContainer {
  width: 85%;
  max-width: 650px;
  padding-bottom: 8em;
  padding-top: 0;
}
