---
import Button from "../button.astro";
import PostsLoop from "../posts-loop.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    {t('writings.title')}
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    {t('writings.desc')}
  </p>

  <div class="w-full max-w-4xl mx-auto my-7 xl:px-0">
    <div
      class="flex flex-col items-start justify-start md:flex-row md:space-x-7"
    >
      <div class="w-full md:w-2/3 space-y-7">
        <PostsLoop count="3" />

        <div class="flex items-center justify-center w-full py-5">
          <Button text={t('nav.thoughts')} link={translatePath('/posts/')} />
        </div>
      </div>
    </div>
  </div>
</section>
